
<section>
						
					
	<div style="col s12 l5 offset-l2">
		<h1 class="" itemprop="name">
			<span>Login</span>
		</h1>
	</div><!-- class="col s12 l5 offset-l2  " -->		
	
	<br />
   <h2 style="text-align:center;">Login using Google Account</h2>
   <br />
   <div class="panel panel-default">
	<div align="center"><?php echo $this->variables4Template['login_button'];  ?></div>;
   </div>
   <h2 style="text-align:center;">Login with FaceBook</h2>
   <br />
   <div class="panel panel-default">
	<div align="center"><?php echo $this->variables4Template['facebook_login_button'];  ?></div>;
   </div>
   
</section>
