<h1>Allow Cookie</h1>

<p>
Dear Guest, You are here because you disagreed with out cookie policy. This website stores cookies on your computer. These cookies are used to collect information about how you interact with our website and allow us to remember you. We use this information in order to improve and customize your browsing experience and for analytics and metrics about our visitors both on this website and other media. To find out more about the cookies we use, see our <a href="./General/privacyPolicy#cookiePolicy">Privacy Policy</a>.
</p>
<p>
Kindly click "Agree" to the cookie conset window to proceed further.
</p>