<h1>Registration failed. You Disabled Email Sharing</h1>

<p>
	Dear User, You are here because you trined to signup without sharing your email. Email is necessary for registering in this site.
	If you wish to register to our site kindly come back again after removing our app from your permitted apps list. Follow the instructions pages given below, depending on the type of login you are using
	<ol>
		<li><a href="https://support.google.com/accounts/answer/3466521?hl=en" target="_blank" >Google</a></li>
		<li><a href="https://www.facebook.com/help/170585223002660" target="_blank" >Facebook</a></li>
	</ol>
</p>