body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


.osolMVCMessageDivInfo{
    font-weight:bold;
    color:#a5a516;
}
.osolMVCMessageDivError{
    color:#f80909;
    font-weight:bold;
}
.osolMVCBottomDiv{
    width:100%;
    position: absolute;
    bottom: 0;
}